#wrapper{
      padding:10px 0px 25px 0px; 
      background:#eeeedd;
      width:700px;
      height: 520px;
      border-radius:15px;
      box-shadow: 10px 10px 5px #888888;
    }
    #location{
      width: 640px;
      height: 20px;
      background: #eeeeee;
      border: 3px solid #bbbbaa;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px 0px 5px 0px;
      
    }
    #contentBody{
      width: 640px;
      height: 300px;
      background-color: #ddddaa;
      border: 3px solid #bbbbaa;
      border-radius: 5px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    
    #tweetContainer{
      text-align: left;
    }
    
    .tweetHead{
      font-weight: bold;
    }
    
    .centerViewPort{
      width: 300px;
      height: 100px;
      margin: 90px auto auto auto;
      text-align:center;
    }
    
    a.gitlink{
      color: #9b9b48;
      text-decoration:none;
    }
    a.gitlink:hover{
      color: #7f7f61;
    }
    body{
      background-color: #bbbbaa;
    }
    div{
      font-family: Arial, Helvetica, sans-serif;
    }