#wrapper{
      padding:10px 0px 25px 0px; 
      background:#eeeedd;
      width:700px;
      height: 500px;
      border-radius:15px;
      box-shadow: 10px 10px 5px #888888;
    }
    #location{
      width: 640px;
      height: 15px;
      background: #eeeeee;
      border: 3px solid #bbbbaa;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px 0px 5px 0px;
      
    }
    #location:hover{
      background-color: #ddddaa;
    }
    #map{
      border: 3px solid #bbbbaa;
      border-radius: 5px;
    }
    a.gitlink{
      font-color: #9b9b48;
    }
    body{
      background-color: #bbbbaa;
    }
    div{
      font-family: Arial, Helvetica, sans-serif;
    }